/* Style pour la boîte modale */
.modal {
  background: linear-gradient(135deg, #0058ab, #00aaff); /* Dégradé Sonic */
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

/* Style pour le titre */
.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Style pour chaque gestionnaire */
.managerslayout {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Style pour le logo du gestionnaire */
.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

/* Style pour le nom du gestionnaire */
.managername {
  font-size: 18px;
  font-weight: bold;
}

/* Style pour la cible du gestionnaire */
.managercible {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Style pour le coût du gestionnaire */
.managercost {
  font-size: 16px;
}

/* Style pour le bouton d'embauche */
.hirebutton {
  padding: 10px 20px;
  background-color: #fcb825; /* Couleur jaune Sonic */
  color: #002148; /* Couleur bleue foncée Sonic */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Style pour le bouton d'embauche lorsqu'il est sélectionnable */
.hirebutton.selectable {
  background-color: #00aaff; /* Couleur bleue Sonic */
  color: #ffffff; /* Couleur blanche */
}

/* Style pour le bouton de fermeture */
.closebutton {
  padding: 10px 20px;
  background-color: #fcb825; /* Couleur jaune Sonic */
  color: #002148; /* Couleur bleue foncée Sonic */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

/* Style pour le bouton de fermeture au survol */
.closebutton:hover {
  background-color: #00aaff; /* Couleur bleue Sonic */
  color: #ffffff; /* Couleur blanche */
}

.disabled {
    pointer-events: none; /* Désactive les événements de clic */
    opacity: 0.5; /* Rend le bouton partiellement transparent pour indiquer qu'il est désactivé */
  }



  