
.principale {
  background: no-repeat url("../assets/background-2.png"); 
  /* background-color: blue; */
  height: 700px; /* Hauteur spécifique pour un écran large */
  width: 1600px;
  }   

  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 180px;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#worldname {
    margin-left: 20px;
}

.argent{
  margin-left: 450px;
}


.multiplicateur {
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #333;
}

.idjoueur {
    margin-left: 20px;
}

.multiplicateur {
    margin-left: auto;
}


.button{
display: grid;
justify-content: space-between;
padding-top: 0px;
/* padding-bottom: ; */
 margin-top: -10px; 
 margin-left: 8px;
 height: 20px;
}

.fit-picture {
  width: 300px; /* Largeur de l'image */
  height: 200px; /* Hauteur de l'image */
  object-fit: cover; /* Redimensionner l'image pour remplir le conteneur tout en conservant ses proportions */
}





.game-button {
  position: relative;
  top: 0;
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  font-family: 'Carter One', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: .1em;
  text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px  #004a87;
  border: none;
  /* margin: 15px 15px 30px;  */
  margin-top: 50px;
  background: repeating-linear-gradient( 45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
  border-bottom: 3px solid rgba(16, 91, 146, 0.5);
  border-top: 3px solid rgba(255,255,255,.3);
  color: #fff !important;
  border-radius: 8px;
  /* padding: 8px 15px 10px; */
  box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0,0,0,.3);
}
.game-button:hover {
  top:2px;
  box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0,0,0,.3), 0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e, 0 13px 1px 6px rgba(0,0,0,.3);
}
.game-button::before {
  content: '';
  height: 10%;
  position: absolute;
  width: 40%;
  background: #fff;
  right: 13%;
  top: -3%;
  border-radius: 99px;
  }
.game-button::after {
  content: '';
  height: 10%;
  position: absolute;
  width: 5%;
  background: #fff;
  right: 5%;
  top: -3%;
  border-radius: 99px;
  }


.main {
  display: grid;
  padding-left: 150px; 
  grid-template-columns: 20% 80%;
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.lesdeux {
  position: relative;
}
.lesecond {
    position: absolute;
    bottom: -10px;
  }


/* Style du conteneur argent */
.argent {
  position: relative;
  display: inline-block;
  padding: 10px 20px; /* Ajustez le padding selon vos besoins */
  background: linear-gradient(45deg, #ff3399, #ff9933); /* Dégradé de couleurs */
  border: 5px solid #fff; /* Couleur de la bordure */
  border-radius: 20px; /* Bordure arrondie */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Police de caractères */
  color: #fff; /* Couleur du texte */
}

/* Style pour le texte */
.argent span {
  font-size: 40px; /* Taille de la police */
  font-weight: bold; /* Gras */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre portée */
}

/* Effet hover */
.argent:hover {
  background: linear-gradient(45deg, #ff9933, #ff3399); /* Dégradé de couleurs au survol */
  border-color: #fff; /* Changement de couleur de bordure au survol */
}

.argent:hover span {
  color: #fff; /* Changement de couleur de texte au survol */
}


  
.modal {
  position: fixed; /* reste en place */
  z-index: 2; /* au dessus du reste */
  width: 800px; /* largeur */
  height: 800px; /* hauteur */
  overflow: auto; /* barre de scroll si besoin */
  background-color: white; /* opaque */
  border: solid;
  top:10; /* a 10% du haut */
  left:20%; /* a 20% de la gauche */
  }



  /* Styles pour le bouton multiplicateur */
.multiplicateur-button {
  background: linear-gradient(135deg, #00a5f9, #ff0000); /* Dégradé de bleu à rouge */
  color: #fff; /* Texte blanc */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Comic Sans MS', cursive; /* Une police de caractères qui évoque le style de Sonic */
  font-weight: bold;
  text-transform: uppercase; /* Met le texte en majuscules */
  text-shadow: 1px 1px 1px #000; /* Ajoute une ombre au texte */
  box-shadow: 2px 2px 2px #000; /* Ajoute une ombre au bouton */
}

.multiplicateur-button:hover {
  background: linear-gradient(135deg, #ff0000, #00a5f9); /* Inverse le dégradé au survol */
}


/* Style pour le badge en mode Sonic */
.mat-badge-content {
  background-color: #ffcc00; /* Couleur jaune Sonic */
  color: #002148; /* Couleur bleue foncée Sonic */
  font-size: 14px;
  font-weight: bold;
  padding: 6px 10px; /* Espacement intérieur du badge */
  border-radius: 50%; /* Forme arrondie */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* Légère ombre */
  position: relative; /* Position relative pour le badge principal */
}

/* Style pour le pseudo-élément ::after pour simuler la pointe du hérisson */
.mat-badge-content::after {
  content: ''; /* Contenu vide */
  position: absolute; /* Position absolue par rapport au badge */
  top: 100%; /* Déplacer en bas du badge */
  left: 50%; /* Positionner au milieu du badge */
  transform: translateX(-50%); /* Déplacer horizontalement de moitié */
  border-width: 0 8px 8px; /* Largeur de la bordure pour la pointe */
  border-style: solid; /* Style de bordure solide */
  border-color: #ffcc00 transparent transparent; /* Couleur de la bordure (jaune sur le dessus, transparent sur les côtés) */
}


/************/