<div class="principale">
  <div class="header">
    <div class="logo-container">
        <div class="logo"><img [src]="server+world.logo"/></div>
        <span id="worldname">{{world.name}}</span>
    </div>
    <div class="argent"><span [innerHTML]="world.money | bigvalue"></span></div>
    <div class="multiplicateur">
      <button class="multiplicateur-button" (click)="changePosition()" > Acheter <br /> x {{ qtmulti }} </button>
    </div>
    <div class="idjoueur">Votre ID 

          <input matInput [(ngModel)]="username" (change)="onUsernameChanged()" placeholder="Saisissez votre ID"/>

        </div>

</div>


<div class="main">
  <div class="button"> 
    <button class="game-button" (click)="popUpUnlocks()" >UNLOCKS</button>
    <button class="game-button orange">Cash Upgrades</button>
    <button class="game-button red" >Angel Upgrades</button>
    <button class="game-button green"   
    (click)="popUpManagers()"
    [matBadge]="badgeManagers"
    [matBadgeHidden]="badgeManagers == 0"
    
    >Managers</button> 
    <button class="game-button green">investor</button> 

      <!-- <div class="button">
        <input (click)="popUpUnlocks()"/>
        <div class="nameButton unlocks" (click)="popUpUnlocks()">UNLOCKS</div>
      </div>
      <div class="button">
        <input type="image" class="imageButton" [attr.src]="server + 'icones/carte.png'" (click)="popUpUpgrades('NOTANGE')"/>
        <div class="nameButton cashUpgrades" (click)="popUpUpgrades('NOTANGE')">CASH<br />UPGRADES</div>
        <div [matBadge]="badgeUpgrades | number" [matBadgeHidden]="badgeUpgrades == 0" matBadgeSize="large"></div>
      </div>
      <div class="button">
        <input type="image" class="imageButton" [attr.src]="server + 'icones/carte.png'" (click)="popUpUpgrades('ANGE')"/>
        <div class="nameButton angelUpgrades" (click)="popUpUpgrades('ANGE')">ANGELS<br />UPGRADES</div>
        <div [matBadge]="badgeAngelUpgrades | number" [matBadgeHidden]="badgeAngelUpgrades == 0" matBadgeSize="large"></div>
      </div>
      <div class="button">
        <input type="image" class="imageButton2" [attr.src]="server + 'icones/carte.png'" (click)="popUpManagers()"/>
        <div class="nameButton managers" (click)="popUpManagers()">MANAGERS</div>
        <div [matBadge]="badgeManagers | number" [matBadgeHidden]="badgeManagers == 0" matBadgeSize="large"></div>
      </div>
      <div class="button">
        <input type="image" class="imageButton2" [attr.src]="server + 'icones/carte.png'" (click)="popUpInvestors()"/>
        <div class="nameButton investors" (click)="popUpInvestors()">INVESTORS</div>
      </div>
    </div>
    <div class="product">
      <app-product *ngFor="let product of world.products" [prod]="product" [World]="world" [money]="world.money" [qtmulti]="qtmulti"
        (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)" class="product"></app-product>
    </div> -->
  
  </div>

  <div class="products">
    <app-product *ngFor="let product of world.products" 
    [prod]="product" class="product" (notifyProduction)="onProductionDone($event)" 
    (onBuy)="onBuy($event)"  [qtmulti]="qtmulti"   [World]="world" [money]="world.money"
   ></app-product>
  </div>
    <!-- <div *ngIf="showManagers" class="modal">
      <div><h1 class="title">Managers make you feel better !</h1></div>
      <div>
      <div *ngFor="let manager of world.managers.palier">
      <div *ngIf="!manager.unlocked" class="managerslayout">
      <div>
      <div class="logo"><img class="round" [attr.src]="server+manager.logo" /> </div>
      </div>
      <div>
      <div class="managername"> {{ manager.name}} </div>
      <div class="managercible"> {{ world.products.product[manager.idcible-1].name }} </div>
      </div>
      <div class="managercost"> {{ manager.seuil}} </div>
      </div>
      <div>
        <div class="hirebutton" (click)="hireManager(manager)"
        [ngClass]="{'selectable' : (world.money >= manager.seuil)}">Hire !</div>
      </div>
    </div>
    </div>
      <button class="closebutton" mat-raisedbutton
      color="primary" (click)="showManagers = !showManagers">Close</button>
    </div> -->

</div>
