<div class="product" *ngIf="product">
    <div class="lesDeux">
        <div class="lePremier">
            <button class="round"  (click)="startFabrication()" [disabled]="product.timeleft > 0">
                <img [attr.src]="server + product.logo" class="round"/> 
            </button>
        </div>
        <div class="leSecond">
            <span>{{ product.quantite | number}}</span>
        </div>     
    </div>
    <div class="right">

        <div class="progress-container">
            <app-my-progress-bar [run]="run" [auto]="product.managerUnlocked" [vitesse]="product.vitesse">
            </app-my-progress-bar>
            <div class="valueScore">
                {{ product.revenu * product.quantite | number }}
            </div>
        </div>        
        
    </div>   
    <div class="container">
        <div class="buy-button">
            <button class="buy" (click)="buyProduct()" [disabled]="!isBuyable()">
               x {{ maxQuantity }}  &nbsp; &nbsp;  {{ maxCout  | number }}
            </button>

        </div>
        <div class="time-rectangle">
            <div>{{ product.timeleft | date: 'mm:ss:SS' }}</div>
        </div>
    </div>
</div>