.round {
    width: 80px; /* Définir une largeur et une hauteur fixes pour créer un bouton rond */
    height: 80px;
    border-radius: 50%; /* Assurer que le bouton est un cercle */
    border: none; /* Supprimer la bordure du bouton */
    background-color: transparent; /* Rendre le fond du bouton transparent */
    padding: 0; /* Supprimer le rembourrage pour que le bouton s'adapte à l'image */
    overflow: hidden; /* Cacher toute partie de l'image qui dépasse du bouton */
    display: flex; /* Utiliser un conteneur flex pour centrer l'image */
    justify-content: center; /* Centrer horizontalement l'image */
    align-items: center; /* Centrer verticalement l'image */
}



.right {
    display: flex;
    justify-content: flex-end; /* Alignement à droite */
}

.progress-container {
    width: 150px; /* Largeur de la barre de progression */
    height: 30px; /* Hauteur de la barre de progression */
    margin-top: -50px;
    margin-right: 100px;
    background-color: #ccc; /* Couleur de fond de la barre de progression */
    border-radius: 10px; /* Coins arrondis */
    overflow: hidden; /* Masquer le contenu qui dépasse */
    position: relative;

}

.valueScore {
    position: absolute;
    top: 50%; /* Vous pouvez ajuster ceci pour déplacer la valeur verticalement */
    left: 10px; /* Vous pouvez ajuster ceci pour déplacer la valeur horizontalement */
    transform: translateY(-50%);
    font-size: 14px;
    color: #333; /* Couleur du texte */
    font-weight: bold;
}

.progress-bar {
    width: 0%; /* Largeur initiale de la barre de progression */
    height: 100%; /* Hauteur de la barre de progression */
    background-color: #00ff00; /* Couleur de la barre de progression */
    animation: progress-animation 2s linear infinite; /* Animation de la barre de progression */
}


@keyframes progress-animation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}


.lesdeux {
    position: relative;
    }
    
.lePremier{
    margin-top: 50px;
}


.leSecond {
    position: absolute;
    margin-left: 40px;
    margin-top: -10px;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    font-family: 'Carter One', sans-serif;
    font-size: 20px;
    padding: 5px 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    margin-left: 100px;
}

.buy-button {
    flex: 1; /* Utilise l'espace disponible */
    margin-right: 10px; /* Marge à droite pour l'espace entre les rectangles */
}


.buy-frame {
    width: 100px; /* ajustez la largeur selon vos besoins */
    height: 50px; /* ajustez la hauteur selon vos besoins */
    border: 2px solid black; /* définissez l'épaisseur et la couleur de la bordure */
    box-sizing: border-box; /* incluez la taille de la bordure dans la largeur/hauteur */
}


.buy {
    width: 120px; /* Largeur du bouton */
    height: 40px; /* Hauteur du bouton */
    background-color: #0077d7; /* Couleur bleue */
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    margin-right: 12px;
}

.time-rectangle {
    width: 120px; /* Largeur du bouton */
    height: 40px;
    flex: 1; /* Utilise l'espace disponible */
    background-color: #ff0000; /* Couleur rouge pour le temps */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-rectangle div {
    font-size: 20px;
    color: #ffffff;
}


.buy-button button.buy[disabled] {
    /* Styles lorsque le bouton est désactivé */
    background-color: #cccccc; /* Couleur de fond grise */
    color: #666666; /* Couleur du texte plus sombre */
    cursor: not-allowed; /* Curseur "non autorisé" */
}