<!-- <div class="popUp">
    <h1 class="dialog-title">Unlocks</h1>
    <div class="dialog-content">
        <p>Vous souhaitez maximiser vos profits ? Cherchez pas plus loin ! Amenez vos investissements à ces quotas pour débloquer de jolis bonus de profit !</p>
        <div class="unlocks">
            Contenu des déverrouillages
        </div>
        <div class="gallery">
            Contenu de la galerie
        </div>
    </div>
    <div class="dialog-actions" align="end">
        <button class="close-button">Fermer</button>
    </div>
</div> -->

