.popUp {
    background-color: #0056b3; /* Bleu Sonic */
    color: #fff; /* Texte blanc */
    border-radius: 10px;
    padding: 20px;
    font-family: 'Comic Sans MS', cursive; /* Police de caractères qui évoque Sonic */
}

.dialog-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.dialog-content p {
    margin-bottom: 20px;
}

.unlocks {
    /* Styles pour les déverrouillages */
}

.gallery {
    /* Styles pour la galerie */
}

.close-button {
    background-color: #ff0000; /* Rouge Sonic */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #ff3333; /* Rouge foncé au survol */
}
